<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 实体类,简称 -设置别名 -->
	<typeAliases>
		<!-- <typeAlias alias="user" type="com.hhyz.oa.model.User" /> -->
		<!-- 每一个在包 com.bill.learn.model中的 Java Bean，在没有注解的情况下，会使用 Bean的首字母小写的非限定类名来作为它的别名 -->
		<package name="com.hhyz.entity"/>
	</typeAliases>
	<!-- 实体接口映射资源 -->
	<!--
		说明：如果xxMapper.xml配置文件放在和xxMapper.java统一目录下，mappers也可以省略，因为org.mybatis.spring.mapper.MapperFactoryBean默认会去查找与xxMapper.java相同目录和名称的xxMapper.xml
	-->
	<mappers>
		<!-- 为每个映射器文件引入
			<mapper resource="com/hhyz/oa/dao/sqlmap/UserMapper.xml" />
		 -->
		 
		 <!-- Register all interfaces in a package as mappers -->
		<package name="com.hhyz.entity.xml"/>
	</mappers>

</configuration>